@font-face {
  font-family: Titillium Web;
  src: url("../../assets/font/TitilliumWeb-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: Titillium Web;
  src: url("../../assets/font/TitilliumWeb-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
