// Primary Colors

$primary-cta-color: #2f6dc8;
$primary-text-color: #333333;
$label-text-color: #f5f5f5;
$background-color: #f5f5f5;
$element-background-color: #ffffff;
$divider-color: #1c2c65;
$grey-divider-color: #eff0f1;
