@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

// boxsizing

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

// body styling

.App {
  font-family: "Titillium Web", Times, serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  
  &:hover{
    text-decoration: underline;
  }
  
}